body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.profile-picture{
    margin:0px 0px 30px 0px;
}

.content{
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 100px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .profile-picture{
        margin:100px 0px 100px 0px;
    }

    .content{
        margin: 0px auto;
        padding: 50px 0px 50px 0px;
        border-bottom: 1px ridge;
        min-height: 200px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .content{
        margin: 0px auto;
        padding: 50px 0px 50px 0px;
        border-bottom: 1px ridge;
        min-height: 200px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .content{
        margin: 0px auto;
        padding: 50px 0px 50px 0px;
        border-bottom: 1px ridge;
        min-height: 200px;
    }
}