body{
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  color: #000000;
}

.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #FFFFFF;
    margin: auto;
    padding: 20px;
    width: 90%;
    height: auto;
}

.close {
    color: #AAAAAA;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.navigator{
  background-color: #000000;
  display: block;
}

.navigator a.website-logo{
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  position: static;
  color: #FFFFFF;
  background-color: #000000;
  text-decoration: none;
  text-align: center;
  font-size: 2em;
  min-width: 100px;
  line-height: 80px;
  border-bottom: none;
}

.navigator button.website-menu{
  padding: 0;
  margin-top: 28px;
  margin-bottom: 28px;
  margin-left: 10px;
  margin-right: 10px;
  color: #FFFFFF;
  background-color: #000000;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  width: 80px;
  height: 40px;
  line-height: normal;
  float: right;
}

.navigator .website-menu-list ul{
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #000000;
  text-align: center;
  /* font-family: 'Oswald', sans-serif; */
}

.navigator .website-menu-list li{
  font-size: 1em;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #888;
}

.navigator .website-menu-list a{
  text-decoration: none;
  display: block;
  color: #fff;
  transition: .3s background-color;
}

.navigator #websiteLogo:hover{
  color: #FAD13D;
}

.navigator .website-menu-list li:hover{
  background-color: #FAD13D;
}

.navigator button.website-menu:hover{
  background-color: #FAD13D;
}

.navigator button.website-menu:focus{
  background-color: #000000;
}

header{
    text-align: center;
    color: #FFFFFF;
    background: #FFFFFF;
}

header h1{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 60px;
}

header hr.splitter{
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 80px;
  margin-right: 80px;
  border-style: inset;
  border-width: 2px;
  border: 2px solid #FFFFFF;
  background-color: #FFFFFF;
}

header p{
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#headerDesign{
  background-image: url(../images/IMAG1481.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#profilePicture{
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

section{
  text-align: center;
}

section h1{
  margin-top: 0px;
  padding-top: 100px;
  font-size: 50px;
}

section div.all-side-padding{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 0px;
}

section p{
  text-align: left;
  font-size: 15px;
  margin-top: 10%;
  margin-bottom: 10%;
}

section p.content-center{
  text-align: center;
}

section.yellow-section{
  background-color: #FAD13D;
  color: #000000;
}

section hr.black-splitter{
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 80px;
  margin-right: 80px;
  border-style: inset;
  border-width: 2px;
  border: 2px solid #000000;
  background-color: #000000;
}

section.yellow-section p a{
  text-decoration: none;
  color: #000000;
}

section.yellow-section p a:hover{
  font-size: 30px;
}

section.black-section{
  background-color: #000000;
  color: #FFFFFF;
}

section hr.white-splitter{
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 80px;
  margin-right: 80px;
  border-style: inset;
  border-width: 2px;
  border: 2px solid #FFFFFF;
  background-color: #FFFFFF;
}

section.black-section p a{
  text-decoration: none;
  color: #FFFFFF;
}

section.black-section p a:hover{
  font-size: 30px;
}

.modal .modal-content .sidecontainer{
  margin-top: 20%;
  display: inline-block;
  width: 10%;
  text-align: center;
}

.modal .modal-content .floatright{
  float: right;
}

.modal .modal-content .floatleft{
  float: left;
}

.modal .modal-content .centercontainer{
  margin-top: 20px;
  display: inline-block;
  width: 79%;
  line-height: 100%;
  text-align: center;
}

.modal .modal-content a{
  text-decoration: none;
  font-size: 1em;
  color: #000000;
}

.modal .modal-content a:hover{
  font-size: 1.2em;
}

.modal .modal-content .centercontainer img{
  height: 85%;
  width: 85%;
}

.modal .modal-content .centercontainer img:hover{
  margin-top: 1%;
  height: 90%;
  width: 90%;
}

.modal .modal-content .centercontainer img:focus{
  height: 85%;
  width: 85%;
}

.modal .modal-content .sidecontainer a{
  text-decoration: none;
  font-size: 2em;
  color: #000000;
  font-weight: bolder;
}

.modal .modal-content .sidecontainer a:hover{
  font-size: 3em;
}

.modal .modal-content p{
  margin: 10%;
  font-size: 15px;
}

footer.yellow-closing-mark{
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 1px;
  text-align: center;
  background-color: #FAD13D;
  color: #000000;
}

footer.black-closing-mark{
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 1px;
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
}

#resumeButton{
  margin: 30px;
  color: #000000;
  background-color: #FAD13D;
  border: 2px solid #000000;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  width: 120px;
  height: 60px;
  line-height: normal;
}

#resumeButton:hover{
  font-size: 1.5em;
  border: 3px solid #000000;
  width: 140px;
  height: 70px;
}

@media screen and (min-width: 700px){
  section p{
    text-align: left;
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .modal .modal-content p{
    font-size: 20px;
  }
}

@media screen and (min-width: 1110px){
  .navigator a.website-logo{
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 120px;
    border-bottom: none;
    display: inline-block;
    font-size: 2em;
    height: 50px;
    line-height: 50px;
  }

  .navigator button.website-menu{
    display: none;
  }

  #websiteMenuList{
    display: inline-block;
    float: right;
  }

  .navigator .website-menu-list li{
    margin-top: 10px;
    width: 140px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
  }
}
